.main_box {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 55px;
  
}

.main_box--main {
  width: 500px;
  height: auto;
  position: relative;
  border-radius: 7.5px;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.35);
  font-family: "Montserrat", sans-serif;
  // border: solid 1px;
  //   padding: 60px 10px;
}

.main_box--main--login {
  padding: 20px;
  width: 100%;
  height: auto;
}

.main_box--main--signUp {
  padding: 20px;
  width: 100%;
  height: auto;
  background: rgb(200, 200, 200);
  box-shadow: inset 0px 5px 5px rgba(0, 0, 0, 0.15);
  border-radius: 0px 0px 7.5px 7.5px;
}

.main_box--main--login input,
.main_box--main--signUp input {
  margin: 10px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
}

.main_box--main--login button,
.main_box--main--signUp button {
  margin: 10px 0px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
  padding: 7.5px;
  width: 100%;
  cursor: pointer;
}

.sign-button {
  text-align: center;
  color: #262626;
  padding: 7.5px;
  width: 100%;
  margin-top: 20px;
}